* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    color: white;
    padding: 10px;
    background: linear-gradient(black, hotpink);
    ;
    border-radius: 10px;
}

.facts {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.labelInput {
    display: block;
    width: 70px;
}

input[type="number"] {
    width: 70px;
}

input[type="number"]::placeholder {
    font-size: 0.7rem;
}